.box {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: hsla(259, 84%, 78%, 1);

    background: linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#B597F6", endColorstr="#96C6EA", GradientType=1);
}

.title-head-presentation{
    font-size: 50px;
    font-weight: bold;
}

ion-card{
    margin: 5%;
    padding: 5%;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}
.title-footer-presentation{
    font-size: 30px;
    font-weight: bold;
}
.card-project-title{
    font-weight: bold;
    font-size: 35px;
    color: black;
}

.card-project-subtitle{
    font-weight: bold;

}